matplotlib
numpy
pandas
plotly
pytest
PyYAML
scikit-learn
scrapy
seaborn
spacy
types-PyYAML
types-requests
umap-learn
beautifulsoup4
termcolor
python-box
geopandas
unidecode
xgboost
shap
bayesian-optimization
optuna